---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$color-bkg:        #f5f5f5;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 35%);
$grey-color-dark:  darken($grey-color, 25%);

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "milligram/milligram",
        "base",
        "layout"
;
